/*Global*/
* {
    margin: 0;
}
html,body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    font-family: "Libertinus Serif", serif;
}

main {
    flex: 1;
}

a {
    text-decoration: none;
    color: white;
}

p {
    line-height: 2;
}

img {
    max-width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
}
/*Header*/

.main-header {
    background-image: url(./img/header.jpg);
    height: 300px;
    background-size: cover;
    color: white;
    text-align: center;
}
.navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    align-items: center;
}

.menu a {
    margin-right: 20px;
}

.menu a:hover {
    color: blue;
}

.menu a:last-of-type {
    margin-right: 0px;
}

/*about*/

.flex-about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*houses*/

.house-item {
    background-color: #dedede;
    margin-bottom: 20px;
    border: 1px solid gray;
}

.btn-details {
    display: block;
    background-color: rgba(249, 129, 0, 0.773);
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.house-item-text {
    padding: 20px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.list-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.list-items div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.price-color {
    color: rgb(99, 161, 6);
}

/*Contact*/

.contact-header {
    background-color: orange;
    height: 200px;
    background-size: cover;
    color: black;
    text-align: center;
}
.contact-header a {
    color: black;
}

.contact-text {
    text-align: center;
}

.instructions {
    font-weight: 700;
}

.instructions-details {
    font-weight: 300;
}

.form {
    background-color: #dedede;
    padding: 20px;
    border-radius: 10px;
}
legend {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 10px;
}
.input-control {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.input-control label {
    width: 20%;    
}
.input-control input, .input-control textarea, .input-control select{
    width: 80%;
    padding: 5px;
    border: none;
    border-radius: 5px
}

.contact-form{
    margin-top: 20px;
    margin-bottom: 10%;
}

.contact-end{
    margin-top: 75px;
    margin-bottom: 75px;
}


/*footer*/

footer {
    background-color: #dedede;
    height: 150px;
}

.footer-text {
    display: flex;
    height: 120px;
    justify-content: space-between;
    align-items: center;
}
.text-bold {
    font-weight: 700;
    text-decoration: underline;
}
.policy-info {
    display: flex;
}
.cr-text {
    border-right: 2px solid black;
    padding: 10px;
    margin-right: 10px;
}
.sm-container{
    display: flex;
}
.sm-icon{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 20px;
    border-radius: 50%;
    padding: 5px;
    margin-right: 10px;
}